{% extends "admin/template.html" %}
<!--  -->
{% block title %}Home{% endblock %}
<!--  -->
{% block content %}
<div class="row align-items-center">
  <div class="col">
    <h1>Dashboard</h1>
  </div>
  <div class="col-auto">
    <form action="/admin/logout" method="POST">
      <input type="submit" value="Log out" class="btn btn-primary" />
    </form>
  </div>
</div>

<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Total</th>
      <th scope="col">Marcus</th>
      <th scope="col">Ethan</th>
      <th scope="col">Yu Chen</th>
      <th scope="col">Jason</th>
      <th scope="col">Junxiang</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Paid (new portal)</th>
      <td>{{ paid["total"] | format_money }}</td>
      <td>{{ paid["marcus"] | format_money }}</td>
      <td>{{ paid["ethan"] | format_money }}</td>
      <td>{{ paid["yc"] | format_money }}</td>
      <td>{{ paid["jason"] | format_money }}</td>
      <td>{{ paid["jx"] | format_money }}</td>
    </tr>
    <tr>
      <th scope="row">Due payout</th>
      <td>{{ due["total"] | format_money }}</td>
      <td>{{ due["marcus"] | format_money }}</td>
      <td>{{ due["ethan"] | format_money }}</td>
      <td>{{ due["yc"] | format_money }}</td>
      <td>{{ due["jason"] | format_money }}</td>
      <td>{{ due["jx"] | format_money }}</td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <td>{{ total["total"] | format_money }}</td>
      <td>{{ total["marcus"] | format_money }}</td>
      <td>{{ total["ethan"] | format_money }}</td>
      <td>{{ total["yc"] | format_money }}</td>
      <td>{{ total["jason"] | format_money }}</td>
      <td>{{ total["jx"] | format_money }}</td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-between">
  <div class="col-auto">
    <a href="/extension/get_customer" class="btn btn-outline-primary"
      >Sales portal</a
    >
  </div>

  <div class="col-auto row gx-2">
    <div class="col-auto">
      <a href="./create_transaction" class="btn btn-outline-primary"
        >Create transaction</a
      >
    </div>
    <div class="col-auto">
      <form
        action="./payout"
        method="POST"
        onsubmit="confirm('Confirm payout now?')"
      >
        <input
          type="submit"
          class="btn btn-outline-success"
          value="Payout now"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
