{% extends "admin/template.html" %}
<!--  -->
{% block title %}Home{% endblock %}
<!--  -->
{% block content %}
<div class="row align-items-center mb-1">
  <div class="col">
    <h1>Dashboard</h1>
  </div>
  <div class="col-auto">
    <form action="/admin/logout" method="POST">
      <input type="submit" value="Log out" class="btn btn-primary" />
    </form>
  </div>
</div>

<div style="overflow-x: auto">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Total</th>
        {% for name in admins.keys() %}
        <th scope="col">{{ name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Paid (new portal)</th>
        <td>{{ paid["total"] | format_money }}</td>
        {% for admin in admins.values() %}
        <td>{{ paid[admin] | format_money }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Due payout</th>
        <td>{{ due["total"] | format_money }}</td>
        {% for admin in admins.values() %}
        <td>{{ due[admin] | format_money }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Total</th>
        <td>{{ total["total"] | format_money }}</td>
        {% for admin in admins.values() %}
        <td>{{ total[admin] | format_money }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-between">
  <div class="col-auto mb-1">
    <a href="/extension/get_customer" class="btn btn-outline-primary"
      >Sales portal</a
    >
  </div>

  <div class="col-auto row">
    <div class="col-auto mb-1">
      <a href="./create_transaction" class="btn btn-outline-primary"
        >Create transaction</a
      >
    </div>
    <div class="col-auto mb-1">
      <form
        action="./payout"
        method="POST"
        onsubmit="confirm('Confirm payout now?')"
      >
        <input
          type="submit"
          class="btn btn-outline-success"
          value="Payout now"
        />
      </form>
    </div>
  </div>
</div>

<br />
<div class="row align-items-center mb-1">
  <div class="col">
    <h2>Recent transactions</h2>
  </div>
  <div class="col-auto">
    <a href="./transactions" class="btn btn-primary">View all</a>
  </div>
</div>

<div style="overflow-x: auto">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Admin</th>
        <th>Customer</th>
        <th>Items</th>
        <th>Amount</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      {% for i in recent_transactions %}
      <tr>
        <td>{{ i["timestamp"] | get_datetime_str_from_timestamp }}</td>
        <td>{{ i["admin"] }}</td>
        <td>
          <a
            href="{{ url_for('extension.get_customer', username=i['customer']) }}"
            >{{ i["customer"] }}</a
          >
        </td>
        <td>{{ i["documents"] | documents_to_items_str }}</td>
        <td>{{ i["amount"] | format_money }}</td>
        <td>
          {% if i["paid_out"] %}{{ i["paid_out_timestamp"] |
          get_datetime_str_from_timestamp }}{% else %}Not yet{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if recent_suspicious_activity | length %}
<br />
<div class="row align-items-center mb-1">
  <div class="col">
    <h2>Recent suspicious activity</h2>
  </div>
  <div class="col-auto">
    <a href="./suspicious_activity" class="btn btn-primary">View all</a>
  </div>
</div>

<div style="overflow-x: auto">
  <table class="table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Latest action</th>
        <th>Action count</th>
      </tr>
    </thead>
    <tbody>
      {% for i in recent_suspicious_activity %}
      <tr>
        <td>
          <a href="{{ url_for('extension.get_customer', username=i['_id']) }}"
            >{{ i["_id"] }}</a
          >
        </td>
        <td>{{ i["latest_timestamp"] | get_datetime_str_from_timestamp }}</td>
        <td>{{ i["action_count"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<!--  -->
{% endblock %}
