{% extends "admin/template.html" %}
<!--  -->
{% block title %}Home{% endblock %}
<!--  -->
{% block content %}
<div class="row align-items-center">
  <div class="col">
    <h1>Dashboard</h1>
  </div>
  <div class="col-auto">
    <form action="/admin/logout" method="POST">
      <input type="submit" value="Log out" class="btn btn-primary" />
    </form>
  </div>
</div>

<br />
<p>Sales graphs and charts here...</p>
<!-- <img src="https://source.unsplash.com/1280x720/?cactus" style="width: 100%" /> -->
{% endblock %}
