{% extends "admin/template.html" %}
<!-- -->
{% block title %}Login{% endblock %}
<!-- -->
{% block content %}
<form
  action="/admin/login{% if after %}?after={{ after }}{% endif %}"
  method="POST"
>
  <div class="row mb-3">
    <div class="col-sm-3">
      <label for="username" class="col-form-label">Username</label>
    </div>
    <div class="col">
      <input type="text" name="username" class="form-control" id="username" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3">
      <label for="password" class="col-form-label">Password</label>
    </div>
    <div class="col">
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
      />
    </div>
  </div>
  <div class="row mb-3">
    <input type="submit" class="btn btn-primary" value="Login" />
  </div>
</form>
{% endblock %}
